#root {
  height: 100%;
}

.ant-layout {
  height: 100%;
}

.ant-menu-item {
  font-weight: bold;
}

.ant-menu a {
  color: inherit;
  text-decoration: none;
}

.ant-table {
  white-space: nowrap;
}

.ant-layout .ant-layout-sider-zero-width-trigger {
  color: black;
  z-index: 1;
  top: 34px;
  background: rgba(0, 0, 0, 0.1);
}
