#root {
  height: 100%;
}

html,
body {
  width: 100%;
  height: auto !important;
  min-height: 100%;
}

.ant-layout {
  height: 100%;
}

.ant-menu-item {
  font-weight: bold;
}

.ant-menu a {
  color: inherit;
  text-decoration: none;
}

.ant-table {
  white-space: nowrap;
}

.ant-table-row {
  cursor: pointer;
}

.ant-layout .ant-layout-sider-zero-width-trigger {
  color: black;
  z-index: 1;
  top: 34px;
  background: rgba(0, 0, 0, 0.1);
}

.ant-form .ant-form-item {
  margin-bottom: 0;
}

.ant-form .ant-form-item-label {
  line-height: initial;
  margin: 8px 0 4px 0;
}

.ant-dropdown {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}

.ant-list-item .ant-list-item-meta-description {
  font-size: 12px;
  margin-top: -7px;
}

.ant-card .ant-card-body {
  padding: 0;
}

/* MOBILE MENU */
.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  visibility: visible !important;
}

.ant-menu-horizontal {
  white-space: normal !important;
}
